<section
  class="galeria"
  id="galeria"
>

  <div class="section-header">

    <span>
      NUESTROS TRABAJOS
    </span>

    <h2>
      Inspiración para tu hogar
    </h2>

    <p>
      Algunos espacios y muebles
      de  Fran Indumentaria.
    </p>

  </div>


  <div class="galeria-grid">

    <img
      src="/images/galeria/trabajo-1.jpg"
      alt="Trabajo Noelia Innovaciones"
    >

    <img
      src="/images/galeria/trabajo-2.jpg"
      alt="Trabajo Noelia Innovaciones"
    >

    <img
      src="/images/galeria/trabajo-3.jpg"
      alt="Trabajo Noelia Innovaciones"
    >

    <img
      src="/images/galeria/trabajo-4.jpg"
      alt="Trabajo Noelia Innovaciones"
    >

    <img
      src="/images/galeria/trabajo-5.jpg"
      alt="Trabajo Noelia Innovaciones"
    >

    <img
      src="/images/galeria/trabajo-6.jpg"
      alt="Trabajo Noelia Innovaciones"
    >

  </div>

</section>