<section
  class="hero"
  id="inicio"
>

  <div class="hero-overlay"></div>

  <div class="hero-content">

    <span class="hero-small">
      FRAN INDUMENTARIA
    </span>

    <h1>
      Muebles que transforman
      <span>tu hogar</span>
    </h1>

    <p>
      Diseño, confort y calidad para crear espacios
      únicos.
    </p>

    <div class="hero-buttons">

      <a
        href="#productos"
        class="btn-primary"
      >
        Ver productos
      </a>

      <a
        href="https://wa.me/"
        target="_blank"
        class="btn-secondary"
      >
        Consultar
      </a>

    </div>

  </div>

</section>